<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>5050</title>
</head>
<body>
	<form action="#" method="post">
		<p>Url 1: <input type="text" name="url_1" placeholder="{{url_1}}"></input></p>
		<p>Url 2: <input type="text" name="url_2" placeholder="{{url_2}}"></input></p>
		<p><input type="submit" name="submit"></input></p>
	</form>
	{{content}}
	<br>
	<a href="{{link}}" target="_blank">{{link}}</a>
	<br>
	<br>
	<a href="http://127.0.0.1:5000/">Home</a>
</body>
</html>
